.bookingDetailsDialog__mainContainer {
  width: 100%;
  // min-height: 100vh;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #ffffff;

  .wrapper {
    width: 100;
  }

  .header__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    margin-bottom: 3rem;

    .image {
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 75%;
        height: 10rem;
        border-radius: 1rem;
      }
    }

    .profilePic {
      width: 30%;

      img {
        width: 70%;
        border-radius: 999px !important;
      }
    }

    .booking-card {
      background-color: transparent;
      border-radius: 8px;
      width: 55%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;

      .name {
        width: 100% !important;
        color: var(--white-color);
        margin-bottom: 2rem !important;
      }

      .name p {
        display: block; /* Change from flex to block */
        overflow: hidden;
        white-space: normal; /* Allow text to wrap */
        word-break: break-word; /* Optional: Ensure long words break correctly */
      }

      .name span {
        font-size: 16px;
      }
      .description {
        width: 100%;
        color: #d9d9d9;

        .ant-row {
          row-gap: 5px !important;
        }
      }

      .shareIcon {
        color: var(--blue-color);
        position: absolute;
        top: 0;
        right: 0;

        .icon {
          cursor: pointer;
        }
      }

      .ant-typography {
        margin-bottom: 8px;
      }
    }

    // .sub-wrapper {
    //     width: 50%;
    //     padding: 1rem 0;

    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     align-items: flex-start;

    //     .name {
    //         font-size: 26px;
    //     }
    // }
  }

  .body__wrapper {
    width: 100%;

    .form__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .container-column-center {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
      }

      .container {
        width: 100%;
        padding: 0 1rem;
        margin: 1.5rem 0;

        .inputField__wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          margin: 1.5rem 0;

          .title {
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            text-transform: capitalize;
            text-decoration: none;

            margin-bottom: 0.2rem;

            span {
              color: red;
            }
          }

          .input__wrapper {
            width: 100%;
            padding: 0.3rem 0.5rem;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            outline: none;
            border: 1px solid var(--gray-border-color);
            background-color: rgba($color: #ffffff, $alpha: 1);

            .icon {
              color: var(--blue-color);
              width: 20px;
              height: 20px;
              margin-right: 0.5rem;
            }

            .divider {
              height: 20px;
              width: 0.75px !important;
              background-color: #ccc;
              margin-right: 0.5rem;
              background-color: #007bff;
            }

            .textAreaDivider {
              height: 70px;
              width: 0.75px !important;
              background-color: #ccc;
              margin-right: 0.5rem;
              background-color: #007bff;
            }

            .input {
              width: 100%;
              padding: 0.15rem 0.25rem;
              background: transparent;
              outline: none;
              color: #666666;

              font-size: 16px;
              // color: var(--gray-color);
              font-weight: 400;
              // text-transform: capitalize;
              text-decoration: none;
            }

            .textArea {
              height: 5rem;
              text-transform: none !important;
            }
          }

          .inputError {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            // position: absolute;
            color: red;

            margin-top: 0.3rem;
            margin-bottom: -0.5rem;

            .icon {
              width: 18px;
              margin-right: 0.25rem;
            }

            p {
              font-size: 14px;
              font-family: var(--font-family-1);
              font-style: normal;
              text-transform: none;
              text-decoration: none;
              font-weight: 500;
            }
          }

          .list__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            .heading {
              width: 100%;

              font-size: 20px;
              text-transform: capitalize;
              font-weight: 600;
              text-decoration: underline;
              text-align: center;
            }

            .body__wrapper {
              width: 100%;

              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 1rem;
              overflow: visible;
              flex-wrap: wrap;

              .wrapper {
                min-width: 200px;
                min-height: fit-content;
                padding: 1rem;

                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--gray-border-color);

                p {
                  font-size: 16px;
                  font-weight: 400;
                  text-transform: capitalize;
                  text-wrap: nowrap;
                }

                .icon {
                  position: absolute;
                  top: 0.25rem;
                  right: 0.25rem;
                  font-size: 18px;
                  cursor: pointer;
                  z-index: 0;
                }
              }
            }
          }

          .transferInput__wrapper {
            width: 100%;
            display: flex;
            // flex-direction: row;
            justify-content: center;
            align-items: center;
          }
        }

        .dateTimePicker {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          margin: 0.5rem;

          .icon {
            color: var(--blue-color);
            cursor: pointer;
          }
        }

        .inputFields__wrapper {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          // margin-top: 0.5rem;
          margin: 1.5rem 0;
          // margin-bottom: 1.5rem;

          .wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .title {
              font-size: 16px;
              font-weight: 600;
              font-style: normal;
              text-transform: capitalize;
              text-decoration: none;

              margin-bottom: 0.2rem;

              span {
                color: red;
              }
            }

            .input__wrapper {
              width: 100%;
              padding: 0.3rem 0.5rem;

              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;

              outline: none;
              border: 1px solid var(--gray-border-color);
              background-color: rgba($color: #ffffff, $alpha: 1);

              .icon {
                color: var(--blue-color);
                width: 20px;
                height: 20px;
                margin-right: 0.5rem;
              }

              .divider {
                height: 20px;
                width: 0.75px !important;
                background-color: #ccc;
                margin-right: 0.5rem;
                background-color: #007bff;
              }

              .textAreaDivider {
                height: 70px;
                width: 0.75px !important;
                background-color: #ccc;
                margin-right: 0.5rem;
                background-color: #007bff;
              }

              .input {
                width: 100%;
                padding: 0.15rem 0.25rem;
                background: transparent;
                outline: none;
                color: #666666;

                font-size: 16px;
                // color: var(--gray-color);
                font-weight: 400;
                // text-transform: capitalize;
                text-decoration: none;
              }

              .selectInput {
                border: none;
                outline: none;
                padding: 0;
              }

              .textArea {
                height: 5rem;
                text-transform: none !important;
              }
            }

            .inputError {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              // position: absolute;
              color: red;

              margin-top: 0.3rem;
              margin-bottom: -0.5rem;

              .icon {
                width: 18px;
                margin-right: 0.25rem;
              }

              p {
                font-size: 14px;
                font-family: var(--font-family-1);
                font-style: normal;
                text-transform: none;
                text-decoration: none;
                font-weight: 500;
              }
            }

            &:nth-child(1) {
              margin-right: 1.5rem;
            }

            &:nth-child(2) {
              margin-left: 1.5rem;
            }
          }
        }

        .bookingStatusMsg {
          width: 100%;

          .alert {
            width: 100%;
            margin: 0.5rem 0;
          }
        }

        .outsidePartyList__wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 2rem;
          // overflow-x: hidden;
          margin-bottom: 2rem;
          color: var(--white-color);

          .heading {
            width: 100%;

            font-size: 20px;
            text-transform: capitalize;
            font-weight: 600;
            text-decoration: underline;
            text-align: center;
          }

          .list__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 0.5rem;
            cursor: pointer;

            .header__wrapper {
              width: 100%;

              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              gap: 1rem;
              cursor: pointer;
              margin: 0;

              .title {
                font-size: 18px;
                font-weight: 600;
                font-style: normal;
                text-transform: capitalize;
                text-decoration: none;

                margin-bottom: 0.2rem;

                span {
                  color: red;
                }
              }
            }

            .selectionBox__wrapper {
              width: 100% !important;
              min-height: 250px;
              border: 2px dashed var(--gray-border-color);
              padding: 1rem;

              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 1rem;

              .wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                .icon {
                  font-size: 32px;
                  color: var(--blue-color);
                }

                .description {
                  font-size: 16px;
                  color: var(--gray-color);
                  text-wrap: wrap;
                }

                .addBtn {
                  padding: 0.5rem 1rem;
                  color: var(--white-color);
                  font-size: 16px;
                  background-color: var(--blue-color);
                  transition: all 0.3s ease-in;
                  cursor: pointer;
                  border-radius: 5px;

                  &:hover {
                    background-color: var(--blue-color-hover);
                  }
                }
              }

              .separator__text {
                font-size: 16px;
                font-weight: 600;
                color: var(--gray-color);
                text-transform: uppercase;
                text-wrap: nowrap;
              }
            }

            .data__wrapper {
              width: 100% !important;
              max-height: 250px;
              border: 2px solid var(--gray-border-color);
              padding: 1rem 2rem;
              position: relative;

              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 3rem;
              overflow: hidden; // This ensures that any overflow is hidden

              .img__wrapper {
                max-width: 250px;
                max-height: 240px; // Ensures the image stays within the height limits of the wrapper
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                overflow: hidden; // Prevents overflow of the image

                .img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }

              .contents__wrapper {
                flex: 1;
                max-height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 2rem;

                .title__wrapper {
                  width: 100%;
                  text-align: center;
                  font-size: 18px;
                  font-style: normal;
                  text-transform: capitalize;
                  text-decoration: none;
                  font-family: var(--font-family-2);
                  color: var(--white-color);

                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  gap: 0.5rem;

                  .key {
                    font-weight: 600;
                  }
                }

                .formFields__wrapper {
                  width: 100%;
                  flex: 1;

                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: space-between;
                  gap: 2rem;

                  .wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 1rem;

                    .formField {
                      width: 100%;
                      height: fit-content;

                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      justify-content: flex-start;
                      gap: 0.5rem;

                      .key {
                        font-weight: 600;
                      }
                    }
                  }
                }
              }

              .cancelIcon {
                color: var(--white-color);
                background-color: red;
                border-radius: 999px;
                height: 25px;
                width: 25px;
                padding: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 5px;
                right: 5px;
                transition: all 0.3s ease-in;

                .icon {
                  height: 100%;
                  width: 100%;
                }

                &:hover {
                  opacity: 50%;
                }
              }
            }
          }
        }

        .inputError {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          // position: absolute;
          color: red;

          margin-top: 0.3rem;
          margin-bottom: -0.5rem;

          .icon {
            width: 18px;
            margin-right: 0.25rem;
          }

          p {
            font-size: 14px;
            font-family: var(--font-family-1);
            font-style: normal;
            text-transform: none;
            text-decoration: none;
            font-weight: 500;
          }
        }

        .inHouseList__wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2rem;

          .heading {
            width: 100%;

            font-size: 20px;
            text-transform: capitalize;
            font-weight: 600;
            text-decoration: underline;
            text-align: center;
          }

          .body__wrapper {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            overflow: visible;
            flex-wrap: wrap;

            .wrapper {
              min-width: 200px;
              min-height: fit-content;
              padding: 1rem;

              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid var(--gray-border-color);

              p {
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
                text-wrap: nowrap;
              }

              .icon {
                position: absolute;
                top: 0.25rem;
                right: 0.25rem;
                font-size: 18px;
                cursor: pointer;
                z-index: 0;
              }
            }
          }
        }

        .half-width {
          width: 50%;
          padding-right: 1.5rem;
        }
      }

      .disabledInput__wrapper {
        .inputField__wrapper,
        .inputFields__wrapper {
          .input__wrapper {
            // for disabled input
            border: 1.5px solid var(--gray-border-color) !important;
            background-color: rgba($color: #000000, $alpha: 0.1) !important;

            .input,
            .selectInput {
              color: #d9d9d9 !important;
            }
          }
        }
      }

      .lineSeparator {
        margin-bottom: 2rem;

        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;

        &::before {
          position: absolute;
          width: 100%;
          content: "";
          top: 0;
          left: 0;
          height: 1.5px;
          background-color: var(--blue-color);
        }
      }

      .footer__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .progressBar__wrapper {
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .title {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 0.75rem;

            .mainTitle {
              font-size: 15px;
              font-weight: 600;
              font-style: normal;
              text-transform: capitalize;
              text-decoration: none;
            }

            .subTitle {
              font-size: 14px;
              color: var(--gray-border-color);
            }
          }
        }

        .btns__wrapper {
          width: 40%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;

          .caption {
            font-size: 12px;
            color: var(--gray-border-color);
            font-style: normal;
            font-weight: 400;
            text-transform: capitalize;
            text-decoration: none;
            text-wrap: nowrap;
            margin-right: 0.5rem;
          }

          .btn {
            margin: 0 0.5rem;
            padding: 0.2rem 1rem;
            border-radius: 5px;

            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            text-decoration: none;
            text-transform: capitalize;

            transition: all 0.3s ease-in;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1),
              0 1px 3px rgba(0, 0, 0, 0.08);
            transform: translateY(-2px);
          }

          .prevBtn {
            background-color: var(--white-color);
            color: var(--blue-color);
            border: 1.5px solid var(--blue-color);

            &:hover {
              background-color: var(--white-hover-color);
            }
          }

          .nextBtn {
            margin-right: 0rem;
            background-color: var(--blue-color);
            color: var(--white-color);

            &:hover {
              background-color: var(--blue-hover-color);
            }
          }

          .editBtn {
            background-color: #007bff; /* Blue */
            color: #ffffff; /* White text for contrast */
            border: 1.5px solid #007bff;

            &:hover {
              background-color: #0056b3; /* Darker blue on hover */
            }
          }

          .saveBtn {
            background-color: #28a745; /* Green */
            color: #ffffff; /* White text for contrast */
            border: 1.5px solid #28a745;

            &:hover {
              background-color: #218838; /* Darker green on hover */
            }
          }
        }
      }
    }
  }
}
